.forecast{
    width:90%;
    margin:0 auto;
    overflow-x : scroll;


    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
   
}
.forecast::-webkit-scrollbar{
    display:none;
}
.forecast{
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.column{
    width: 30%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
   
    color: rgba(255, 255, 255, 0.792);
    font-family:sans-serif;
    text-align: center;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.915);;
   
}
.column h4{
    
    font-size: 18px;

}
h4 span{
    font-size: 16px;
   
    padding: 0 0 5px;
  
}
.weather-icon{
    width: 90%;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

